# Entorno virtual
.venv/
venv/
env/

# Variables privadas
.env

# Base de datos local
data/db/*.db
*.db

# Audios subidos y resultados generados
data/uploads/
data/out/

# Configuración/calibración local
data/config/
data/test/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log